<div class="container">
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-51620912-1', 'hnec.ly');
  ga('send', 'pageview');

</script>

  <!-- Static navbar -->
  <div class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header {{{__ "logo"}}}">
        <a class="navbar-brand" href="../../"><img alt="" src="./img/hnec_logo.png"></a>
      </div>
      <div class="navbar-collapse" dir="rtl" >
        <ul class="nav navbar-nav {{{__ "navbar"}}}">
          <!-- <li>
            <form class="navbar-form navbar-right" >
              
            </form>
          </li> -->
          <li> &nbsp&nbsp&nbsp</li>
          <li class="active"><a href="../../">{{{__ "candidates"}}}</a></li>
          <li><a href="http://hnec.ly">{{{__ "website"}}}</a></li>
        </ul>

      </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
  </div>
  <div class="page-header">
    <h1>{{{__ "pageheader6"}}}<br> <small>{{{__ "pageheader5"}}}  </small></h1>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" dir = "{{{__ "dir"}}}">{{{__ "candidatessearchpanel"}}}</div>
    <div class="panel-body">
      <div class="row-fluid">
        <!-- <div class="col-md-8">
          <div dir="{{{__ "dir"}}}" id="map-canvas"><br><br><br><img class="img-responsive center-block" src="./img/rotate.gif"/></div>
        </div> -->

        <div class="table-responsive col-md-8 col-md-offset-2" dir="{{{__ "dir"}}}">
          <div class="row-fluid">
        <div dir = "{{{__ "dir"}}}">
          <div dir = "{{{__ "dir"}}}" class="row-fluid" >
            <div class="col-xs-2 {{{__ 'pullright'}}}">
              <form role="form">
                  <div class="form-group">
                    <label for="region">{{{__ "region"}}}</label>
                    <select class="form-control" id="region">
                      <option value="all">الكل</option>
                      {{#each candidates}}
                      <option value="{{region}}">{{transregion region}}</option>
                      {{/each}}
                    </select>
                  </div>
                </form>
            </div>
            <div class="col-xs-3 {{{__ 'pullright'}}}">
              <form role="form">
                <div class="form-group">
                  <label for="region">{{{__ "office"}}}</label>
                  <select class="form-control" id="mainDists">
                    <option value="all">الكل</option>
                  </select>
                </div>
              </form>
            </div>
            <div class="col-xs-4 {{{__ 'pullright'}}}">
              <form role="form">
                <div class="form-group">
                  <label for="exampleInputEmail1">{{{__ "subconstit"}}}</label>
                  <select class="form-control" id = "subcons">
                    <option value="all">الكل</option>
                  </select>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
            <table id="centerstable" class="table table-striped table-bordered table-condensed table-hover">
              <thead>
                <tr>
                  <th>{{{__ "candidatename"}}}</th>
                  <th>{{{__ "subconstit"}}}</th>
                  <th>{{{__ "view"}}}</th>
                </tr>
              </thead>
              <tbody id = "candidates">
                
              </tbody>
            </table>
            <ul class="pager">
              <li id ="prev"><a id="prevlink" href="#">{{{__ "previous"}}}</a></li>
              <li id ="next"><a id="nextlink" href="#">{{{__ "next"}}}</a></li>
            </ul>
        </div>
        <div class="col-md-2 well" dir="{{{__ "dir"}}}">
          <legend><span class="glyphicon glyphicon-search"></span></legend>
          <div id="searchlabel2" class="form-group ">
            <label>{{{__ "candidatesearchNames"}}}:</label>
            <input type="text" id="searchNames" class="form-control" placeholder="{{{__ "candidatesearchNames"}}}">
          </div>
        </div>
      </div>
    </div>
  </div>
</div> <!-- /container -->


<script src="./js/jquery-1.10.2.min.js"></script>
<script src="./js/bootstrap.min.js"></script>
<script src="./js/candidates.js"></script>

<!-- <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&language={{{__ "lang"}}}"></script>
 -->
