<div class="container">
	<!-- Static navbar -->
	<div class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header {{{__ "logo"}}}">
				<a class="navbar-brand" href="#"><img alt="إحصائيات التسجيل" src="../../img/hnec_logo.png"></a>
			</div>
			<div class="navbar-collapse" dir="rtl" >
				<ul class="nav navbar-nav {{{__ "navbar"}}}">
					<li class="active"><a href="./">{{{__ "main"}}}</a></li>
				</ul>
			</div><!--/.nav-collapse -->
		</div><!--/.container-fluid -->
	</div>

	<!-- Main component for a primary marketing message or call to action -->
		
	<div class="panel panel-default">
		<div class="panel-heading">
<!--     	<h3 class="panel-title {{{__ "textpos"}}}">{{name}}</h3>
 -->    	<ol class="breadcrumb {{{__ "textpos"}}}" dir="{{{__ "dir"}}}">
			  <li><a href="/">{{{__ "main"}}}</a></li>
			  <li class="active">{{name}}</li>
			</ol>
  	</div>
  	<div class="panel-body">
  		<!-- <div class="pane">
	        	<div class="long-title"><h3></h3></div>
	        	<div id="officeContainer" style="width: 100%; height: 440px;"></div>
	      	</div>
	      	<hr class="border-line"> -->
			<div class="table-responsive" dir="{{{__ "dir"}}}">
					<table class="table table-striped table-bordered table-condensed">
						<thead>
							<tr>
								<th>{{{__ "ballot"}}}</th>
								<th>{{{__ "progress"}}}</th>
								<th>{{{__ "station"}}}</th>
								<th>{{{__ "completed"}}}</th>
								<th>{{{__ "validv"}}}</th>
								<th>{{{__ "subconstit"}}}</th>
								<th>{{{__ "seconsubconstit"}}}</th>
								<th>{{{__ "racetype"}}}</th>
								<th>{{{__ "seats"}}}</th>
								<th>{{{__ "candidatecount"}}}</th>
								<th>{{{__ "votingarea"}}}</th>
							</tr>
						</thead>
						<tbody>
							{{#each ballots}}
							<tr>
								<td>{{ballot_id}}</td>
								<td>
								<div class="progress progress-striped">
									  <div class="progress-bar" role="progressbar" aria-valuenow="{{percentage}}" aria-valuemin="0" aria-valuemax="100" style="width: {{percentage}}%;">
									   {{percentage}}%
									  </div>
									</div>
								</td>
								<td>{{stations}}</td>
								<td>{{completed}}</td>
								<td>{{valid_votes}}</td>
								<td><a href="/ballot/{{constit_id}}/{{ballot_id}}">{{subconst_name}}</a></td>
								<td>{{subsubconst_name}}</td>
								<td>{{{race_type}}}</td>
								<td>{{seats}}</td>
								<td>{{candidate_count}}</td>
								<td>{{vote_area}}</td>
							</tr>
							{{/each}}
						</tbody>
					</table>
			</div>
		</div>
	</div>
</div> <!-- /container -->

<script src="{{{__ "js3"}}}"></script>
