<!DOCTYPE html>

<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" >
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="shortcut icon" href="./img/favicon.ico">
		
		<title>Results for Libyan Elections</title>

		<!-- Bootstrap core CSS -->
		<link href="./css/bootstrap.min.css" rel="stylesheet">
		<link href="./css/bootstrap-responsive.css" rel="stylesheet">
		<link href = '{{{__ "css"}}}' rel = 'stylesheet'>
		<link href="./css/app.css" rel="stylesheet">
		<style type="text/css">
			th {
				text-align: {{{__ "textalign"}}}
			}
			/*ul {
				float: right;
			}*/

		</style>
	</head>
	<body>
		<div id = "wrap">
			{{{body}}}
		</div>
	 <div id="footer">
      <div class="container {{{__ "textpos"}}}">
        <p class="text-muted">
        		<a href="{{arUrl}}" class="btn btn-default" {{{__ "disabledar"}}}>العربية</a>
        		<a href="{{enUrl}}" class="btn btn-default" {{{__ "disableden"}}}>English</a>
        </p>
      </div>
    </div>
	  <!-- Bootstrap core JavaScript
	  ================================================== -->
	  <!-- Placed at the end of the document so the pages load faster -->
	  <script src="./js/bootstrap.min.js"></script>
	  <script src="./js/purl.js"></script>
	</body>
</html>
