<div class="container">
  <!-- Static navbar -->
  <div class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header {{{__ "logo"}}}">
        <a class="navbar-brand" href="../../../"><img alt="" src="../../img/hnec_logo.png"></a>
      </div>
      <div class="navbar-collapse" dir="rtl" >
        <ul class="nav navbar-nav {{{__ "navbar"}}}">
          <li class="active"><a href="../../../">{{{__ "main"}}}</a></li>
          <li><a href="http://hnec.ly">{{{__ "website"}}}</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
  </div>
  <div class="page-header">
    <h1>{{{__ "pageheader3"}}}<br> <small>{{{__ "pageheader2"}}}</small></h1>
  </div>
  <div class="container marketing">
    <div class="row">
      <div class="col-lg-6 text-center">
        <h2>{{{__ "pageheader1"}}}</h2>
    <a  href="../../../60/"><img alt="" class="img-rounded" src="../../img/60.jpg" ></a>
      </div>
      <div class="col-lg-6 text-center">
        <h2>{{{__ "pageheader6"}}}</h2>
    <a href="../../../cor/"><img alt="" class="img-rounded" src="../../img/200.jpg" ></a>
      </div>
    </br></br>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
</div> <!-- /container -->

<script src="./js/jquery-1.10.2.min.js"></script>
<script src="./js/bootstrap.min.js"></script>
