<div class="container">
  <!-- Static navbar -->
  <div class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header {{{__ "logo"}}}">
        <a class="navbar-brand" href="../../"><img alt="إحصائيات التسجيل" src="../../../img/hnec_logo.png"></a>
      </div>
      <div class="navbar-collapse" dir="rtl" >
        <ul class="nav navbar-nav {{{__ "navbar"}}}">
          <li class="active"><a href="../../cor/">{{{__ "main"}}}</a></li>
          <li><a href="http://hnec.ly">{{{__ "website"}}}</a></li>
<!--           <li><a href="../../../irr.pdf" target="_blank">{{{__ "irr"}}}</a></li>
 -->        </ul>
      </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
  </div>
  <div class="page-header">
    <h1>{{{__ "pageheader6"}}}<br> <small>{{{__ "pageheader8"}}}</small></h1>
  </div>

  <!-- Main component for a primary marketing message or call to action -->
  <legend class="{{{__ "textpos"}}}" dir="{{{__ "dir"}}}" >{{{__ "votingarea"}}}: {{transregion vote_area}}</legend>
  <div class="panel panel-default">
    <div class="panel-heading">
      <ol class="breadcrumb {{{__ "textpos"}}}" dir="{{{__ "dir"}}}">
        <li><a href="/cor/">{{{__ "main"}}}</a></li>
        <li><a href="/cor/constituency/{{constit_id}}">{{translate name_en name}}</a></li>
        <li class="active">{{ballot.subconst_name}}-{{translatetype  ballot.race_type_ar}}</li>
      </ol>

    </div>
    <div class="panel-body">
      <div class="row-fluid">
        <div dir = "{{{__ "dir"}}}">
          <table class="table table-bordered">
            <tbody>
              <tr>
                <td class="heads"> <b>{{{__ "racetype"}}}</b>:{{translatetype ballot.race_type_ar}}</td>
                <td class="heads"><b>{{{__ "validv"}}}</b>: {{ballot.valid_votes}}</td>
              </tr>
              <tr>
                <td class="heads"><b>{{{__ "subconstit"}}}: </b>{{ballot.subconst_name}}</td>
                <td class="info"><b>{{{__ "seats"}}}</b>: {{ballot.seats}}</td>
              </tr>
              <tr>
                <td class="info"><b>{{{__ "candidatecount"}}}</b>: {{ballot.candidate_count}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <table  class="table table-striped table-condensed table-bordered " dir="{{{__ "dir"}}}" >
        <thead>
          <tr>
            <th>#</th>
            <th>{{{__ "centernumber"}}}</th>
            <th>{{{__ "centername"}}}</th>
            <th>{{{__ "validv"}}}</th>
          </tr>
        </thead>
        <tbody>
         {{#each centers}}
          <tr >
            <td>{{plusone sn}}</td>
            <td><a href="?c={{center_id}}">{{center_id}}</a></td>
            <td><a href="?c={{center_id}}">{{center_name}}</a></td>
            <td>{{votes}}</td>
          </tr>
        {{/each}}
        </tbody>
      </table>
      <div  class="row-fluid pagination-centered">
        <ul class="pagination pagination-centered">
          {{#paginate pagination type="previous"}}
            <li {{#if disabled}}class="disabled"{{/if}}><a href="?p={{n}}" >Prev</a></li>
          {{/paginate}}
          {{#paginate pagination type="middle" limit="10"}}
            <li {{#if active}}class="active"{{/if}}><a href="?p={{n}}">{{n}}</a></li>
          {{/paginate}}
          {{#paginate pagination type="next"}}
            <li {{#if disabled}}class="disabled"{{/if}}><a href="?p={{n}}">Next</a></li>
          {{/paginate}}
        </ul>
      </div>
    </div>
  </div>
</div> <!-- /container -->

<script src="{{{__ "js3"}}}"></script>
