<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" >
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../img/favicon.ico" type = "image/x-icon">
    
    <title>{{{__ "pageheader3"}}} {{{__ "pageheader4"}}}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{{__ "css1"}}}" rel="stylesheet">
    <link href="{{{__ "css2"}}}" rel="stylesheet">
    <link href = '{{{__ "css"}}}' rel = 'stylesheet'>
    <link href="{{{__ "css3"}}}" rel="stylesheet">
    <style type="text/css">
      th {
        text-align: {{{__ "textalign"}}}
      }
      #map-canvas {
        width:100%;
        height:400px;
      }
    </style>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-51723075-1', 'hnec.ly');
      ga('send', 'pageview');

    </script>
  </head>
  <body>
    <div id = "wrap">
      {{{body}}}
    </div>
   <div id="footer">
      <div class="container {{{__ "textpos"}}}">
        <p class="text-muted">
            <a href="{{arUrl}}" class="btn btn-default" {{{__ "disabledar"}}}>العربية</a>
            <a href="{{enUrl}}" class="btn btn-default" {{{__ "disableden"}}}>English</a>
        </p>
      </div>
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
